/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size:xx-large;
  margin: auto;
}

/* article {

} */

h1 {
  font-size: x-large;
}

/* h2 {

}

img {
	max-width: 100%;
}

main {

}

section {

} */

figure {
	padding: 50px;
  display: block;
 
}

figcaption {
  font-size: .8em;
}

@media (max-width:800px){
  body{
    background-color: blue;
    font-size: small;
  }
  /* section{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: solid 1px black;
  } */
 
  .img-container1{
    display: flex;
    height: 300px;
    width: 600px;
  }
  .img-container2{
    display: flex;
    height: 300px;
    width: 600px;
  }
}