
body{
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cadetblue;
}
header{
    background-image: url(/75b2d8a9-1000.jpg);
    height: 800px;
    display: block;
    

}
h1{ 
    color: #56fba0;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    margin: 27px 0 22px;
    text-shadow: 4px 4px 4px black;
    text-align: center;
    padding-top: 150px;
}

h2{
    padding-top: 100px;
    text-align: center;
    
}

a { 
    color: aliceblue;
    background-color: rgb(70, 189, 70);
    border-radius: 4px;
    padding: 30px 150px;
    text-decoration: none;
    border: 50px;
    font-size: 20px;
    text-justify:distribute;
   
       
}
ul:nth-of-type(1) > li{
    display:inline-block;
    margin: 10px;
    text-align: center;
}

h3{
    font-style: italic;
    text-align: left;
    
}

table {
    
    border: solid black;
    font-size: 30px;
    text-align: center;
    display: block;
    float: right;
    padding: 10px;
}
tr, td{
    border: solid black;
}

img{
    float: right;
    width: 300px;
    height: 300px;
    padding: 10px;
    
}
p{
    font-size: 20px;
    z-index: 1;
    margin-right: 10px;
    padding: 10px;
    text-align: justify;

}
.nome{
    position: relative;
    margin-left: 930px;
    border: solid black;
    text-align: center;
}

